@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@300;500;700&display=swap');

:root {
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  --pink-link: hsl(323, 80%, 62%);

  --montserrat: 'Montserrat', sans-serif;
  --fraunces: 'Fraunces', sans-serif;
}

body {
  background-color: var(--cream);
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-top: 1.5rem;
  margin: 0 auto;
}

.image-product img {
  display: block;
  width: 100%;
  border-radius: 0.625rem 0.625rem 0 0;
}

.container-info {
  background-color: var(--white);
  border-radius: 0 0 0.625rem 0.625rem;
  height: 100%;
}
.container-info__section {
  margin: 1.5rem;
}
.subtitle {
  font-family: var(--montserrat);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 0.8rem;
  font-weight: 700;
  color: var(--dark-grayish-blue);
}
.title {
  font-family: var(--fraunces);
  font-size: 2rem;
  font-weight: 700;
  color: var(--very-dark-blue);
}
.paragraph {
  font-family: var(--montserrat);
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--dark-grayish-blue);
}
.price {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 1rem;
}
.price__new {
  font-family: var(--fraunces);
  font-size: 2rem;
  font-weight: 700;
  color: var(--dark-cyan);
  margin: 0 0.625rem;
}
.price__old {
  font-family: var(--montserrat);
  font-size: 1rem;
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
  margin: 0 0.625rem;
}
/* btn */
.container-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.button {
  font-family: var(--montserrat);
  color: var(--white);
  padding: 0.75rem;
  margin: 0 0 1.5rem 0;
  width: 85%;
  background-color: var(--dark-cyan);
  border: none;
  border-radius: 0.313rem;
}
.button img {
  margin-right: 1rem;
}
.button:hover {
  background-color: var(--dark-green-hover);
  transition: ease-in-out 0.3s;
  cursor: pointer;
}
/* footer */
.attribution {
  font-family: var(--montserrat);
  font-weight: 500;
  font-size: 0.875rem;
  text-align: center;
}

.attribution__link {
  color: var(--pink-link);
  text-decoration: none;
}

@media (min-width: 48rem) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    display: grid;
    place-items: center;
    grid-template-columns: 18rem 18rem;
    justify-content: center;
    padding: 3rem;
  }

  .image-product img {
    border-radius: 0.625rem 0 0 0.625rem;
  }

  .container-info {
    border-radius: 0;
    border-top-right-radius: 0.71rem;
    border-bottom-right-radius: 0.71rem;
  }
}
